/* Content Style */
.background_content {
    background-image: url(../assets/images/common/bacground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section_content ._bold {
    font-family: 'NotoSans-Bold';
    line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
    .section_content {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}