.background_content {
    background-image: url(../assets/images/common/background_2048.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_content ._bold {
    font-family: 'NotoSans-Bold';
    line-height: 2.5rem;
}

.section_content .images_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_content .images_container .image_content {
    flex: 0 0 48%;
}

@media screen and (max-width: 768px) {
    .background_content {
        background-image: url(../assets/images/common/background_1000.png);
    }

    .section_content ._bold {
        line-height: 2rem;
    }

    .section_content .video_content {
        padding-bottom: 75%;
    }

    .section_content .images_container {
        margin-bottom: 2rem;
    }

    .section_content .images_container .image_content {
        flex: 0 0 100%;
    }
}