.background_content {
    background-image: url(../assets/images/common/background_2048.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_content .images_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_content .images_container .image_content {
    flex: 0 0 48%;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .background_content {
        background-image: url(../assets/images/common/background_1000.png);
    }

    .section_content .images_container .image_content {
        flex: 0 0 100%;
        margin: 1rem 0px;
    }

    .section_content .images_container .image_content .subtitle {
        text-align: left;
        padding: 0px;
    }
}