/* Content Style */
.poster_content {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 65%;
    overflow: hidden;
}

.poster_content .title_box {
    position: absolute;
    top: 6%;
    left: 5%;
    line-height: 2rem;
    letter-spacing: 3.6px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    background: linear-gradient(-45deg, transparent 45px, #FFFFFF 0);
}

.background_content {
    background-image: url(../assets/images/common/background_2048.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_content_2 {
    background-image: url(../assets/images/common/background_2_2048.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section_content .image_content_2 {
    width: 100%;
    height: 0px;
    padding-bottom: 42%;
    overflow: hidden;
}

.section_content .subtitle_2 {
    margin-top: 0.5rem;
    text-align: right;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}

.section_content .flex_image_content {
    flex-wrap: wrap;
}

.section_content .flex_image_content .flex_right,
.section_content .flex_image_content .flex_left {
    margin-top: 0px;
}

.section_content .flex_image_content .flex_right .image_content,
.section_content .flex_image_content .flex_left .image_content {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 68%;
    overflow: hidden;
}

.section_content .flex_image_content .flex_right .image_content .image,
.section_content .flex_image_content .flex_left .image_content .image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.section_content .flex_image_content .flex_right .subtitle,
.section_content .flex_image_content .flex_left .subtitle {
    margin-bottom: 2rem;
}

.section_content .flex_image_content .flex_right .subtitle {
    text-align: left;
}

.section_content .flex_image_content .subtitle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_content.section_content_2 .flex_image_content .flex_right {
    flex: 0 0 57%;
}

.section_content.section_content_2 .flex_image_content .flex_left {
    flex: 0 0 38%;
}

.section_content.section_content_2 .flex_image_content .flex_right .image_content {
    padding-bottom: 50%;
}

.section_content.section_content_2 .flex_image_content .flex_left .image_content {
    padding-bottom: 75%;
}

.section_content.section_content_2 .flex_image_content .flex_right .image_content .image,
.section_content.section_content_2 .flex_image_content .flex_left .image_content .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_content .image_content .half_image {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 37%;
    overflow: hidden;
}

.section_content .image_content .half_image .image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media screen and (max-width: 768px) {
    .poster_content .title_box {
        font-size: 14px;
        line-height: 1.5rem;
        letter-spacing: 1.5px;
        background: linear-gradient(-45deg, transparent 30px, #FFFFFF 0);
    }

    .section_content {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .background_content {
        background-image: url(../assets/images/common/background_1000.png);
    }

    .section_content.section_content_2 .flex_image_content .flex_right,
    .section_content.section_content_2 .flex_image_content .flex_left {
        flex: 0 0 100%;
    }

    .background_content {
        background-image: url(../assets/images/common/background_1000.png);
    }
    
    .background_content_2 {
        background-image: url(../assets/images/common/background_2_1000.png);
    }
}